.buttonLoad {
  /* margin-bottom: 10px; */
  margin-left: auto;
  margin-right: auto;
  width: 202px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  background-color: #3f51b5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.buttonLoad:hover,
.buttonLoad:focus {
  background-color: #303f9f;
}
